<h1><%= @question.question %></h1>

<h3><%= @question.body %></h3>

<h4>Asked by: <%= @user.email %></h4>

<% if @question.user_id == current_user.id %>
  <%= link_to "Edit Question", edit_user_question_path(@user, @question) %>
  <%= link_to "Delete Question", user_question_path(@user, @question),
                                  :data => {:confirm => "Are you sure?",
                                            :method => 'delete'}%>
<% end %>
